<div class="w-full flex flex-col">
  <div class="w-full flex gap-5 my-5 items-end">
    <%= image_tag("https://api.dicebear.com/6.x/bottts/svg?seed=#{@user.username}", size: "100x100", class: "round-2 full-round") %>
    <%= content_tag(:h_3, @user.username, class: "text-6xl") %>
    <%= link_to "Log out", destroy_user_session_path, { class: 'block link text-xl' } %>
  </div>

  <%= link_to "Go to -all clubhouses- list", root_path, { class: 'btn-goahead text-xl mb-5' } %>
  <% if @user == current_user %>
    <%= link_to 'Create a clubhouse', new_clubhouse_path, { class: 'btn-goahead text-xl mb-5', data: { turbo_frame: "new_clubhouse_form" } } %>
  <% end %>

  <turbo-frame id="new_clubhouse_form"></turbo-frame>

  <%= content_tag(:h_5, 'member of:', class: "text-4xl block mt-5") %>

  <div id="clubhouses_list" class="flex list-of-cards mt-5">
    <% clubhouses = @user.clubhouses %>

    <% if clubhouses.empty? %>
      <h2 class="text-l pt-8 text-red-500">THERE ARE NO CLUBHOUSES</h2>
    <% else %>
      <%= render partial: 'partials/clubhouses/list', locals: { clubhouses: } %>
    <% end %>
  </div>
</div>

