<div class = 'flex flex-col'>
  <% comments = @post.comments %>
  <% clubhouse = @post.clubhouse %>

  <div class = 'content-header'>
    <%= link_to "clubhouse: #{clubhouse.title}",
      clubhouse_path(clubhouse),
      { class: 'block text-xl mb-2' } 
    %>
    <p class = 'block text-2xl mb-6'>
      <%= @post.content %>
    </p>
    <span class = 'block text-base'>
      By: <%= @post.user.username %>
    </span>
    <span class = 'block text-base mb-1'>
      Comments: <%= comments.size %>
    </span>
  </div>

  <div class = 'flex list-of-cards'>
    <% comments.each do |comment| %>
      <%= render partial: 'partials/comment_card', locals: { comment: } %>
    <% end %>
  </div>
</div>
