<div class = 'flex flex-col'>
  <% comments = @post.comments %>
  <% clubhouse = @post.clubhouse %>

  <div class = 'content-header'>
    <%= link_to "clubhouse: #{clubhouse.title}",
      clubhouse_path(clubhouse),
      { class: 'link block text-xl mb-2' } 
    %>
    <p class = 'block text-2xl mb-6'>
      <%= @post.content %>
    </p>
    <span class = 'block text-base'>
      By: <%= @post.user.username %>
    </span>
    <span class = 'block text-base mb-1'>
      Comments: <%= comments.size %>
    </span>
  </div>

  <div id="post_comments_list" class="flex list-of-cards mt-5">
    <%= render partial: 'partials/comments/list', locals: { comments: } %>
  </div>
</div>
