<div class = 'flex flex-col'>
  <% comments = @post.comments %>

  <div class = 'content-header'>
    <p class = 'block text-xl mb-2'>
      clubhouse: <%= @post.clubhouse.title %>
    </p>
    <p class = 'block text-2xl mb-6'>
      <%= @post.content %>
    </p>
    <span class = 'block text-base'>
      By: <%= @post.user.username %>
    </span>
    <span class = 'block text-base mb-1'>
      Comments: <%= comments.size %>
    </span>
  </div>

  <div class = 'flex list-of-cards'>
    <% comments.each do |comment| %>
      <%= render partial: 'partials/comment_card', locals: { comment: } %>
    <% end %>
  </div>
</div>
