<div class = 'flex flex-col w-full p-5'>
  <div class = 'w-full mb-6'>
    <h2 class = 'block text-6xl mb-2 border-b'>
      <%= @clubhouse.title %>
    </h2>
    <h3 class = 'block text-2xl'>
      <%= @clubhouse.description%>
    </h3>
    <div>
      <h3 class = 'block text-xl'>Admins:</h3>
        <% [*@clubhouse.owners, *@clubhouse.admins].each do |user| %>
          <%= render partial: 'partials/user_card', locals: { user:, basic_info: true } %>
        <% end %>
    </div>
  </div>

  <% posts = @clubhouse.posts %>
  <h4 class = 'block text-base mb-1'>
    Posts: <%= posts.size %>
  </h4>

  <div>
    <% posts.each do |post| %>
      <%= render partial: 'partials/post_card', locals: { post: } %>
    <% end %>
  </div>
</div>
